    {% extends "base.html" %}
{% block title %}Meal Planner - Login{% endblock %}

{% block content %}
  <div class="box">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="inputbox">
            {{ form.username.label }}
            {{ form.username(size=32) }}
</div><!--inputbox-->
<div class="inputbox">
            {{ form.password.label }}
            {{ form.password(size=32) }}
          </div><!--inputbox-->

{{ form.submit() }}
    </form>
  </div><!--box-->
{% endblock %}